.specific-news.boss-person .news-content {
  padding-left: 0 !important;
  padding-right: 0;
  padding-top: 6px;
  padding: 0;
  padding-top: 15px;
    width: 69%;
  p.text {
    font-size: 17px;
}
  .date {
        font-size: 16px;
    color: #292929;
  }
}
.specific-news.boss-person .profile-box {
  width: 31%;
}