{% extends 'shared/master.html' %}
{% block body %}
<main>
    <div class="banner_3">
        <h1 class="heading-style-1">
            اخبار
        </h1>
        <div class="location">
            <a href="#">خانه</a>
            <span>/</span>
            <a href="#">اخبار</a>
            <span>/</span>
            <a href="#">لیست اخبار با نوار کناری</a>
            <span>/</span>
            <a class="active" href="#">لیست</a>
        </div>
    </div>
    <div class="forms">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-10 d-none d-xl-block">
                        <form method="POST" class="form-horizontal eagle" role="form" data-url='{{ request.build_absolute_uri|safe }}' novalidate >
                                <div class="header-section mb-4">
                                    <div class="row">
                                        <div class="col-md-4 col-6">
                                            <h3 class="heading-style-3"> فرم {{ view.page_name }} </h3>
                                        </div>
                                        <div class="col-md-8 col-6"></div>
                                    </div>
                                </div>
                                {% include 'partials/_panel_form.html' %}       
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
{% endblock %}