.color0
{
  background : #FEA240;
  background : rgba(254, 162, 64, 1);
}
.color1
{
  background : #FBDE5D;
  background : rgba(251, 222, 93, 1);
}
.color2
{
  background : #1BE3C8;
  background : rgba(27, 227, 200, 1);
}
.color3
{
  background : #2C313B;
  background : rgba(44, 49, 59, 1);
}
.color4
{
  background : #15B095;
  background : rgba(21, 176, 149, 1);
}
.color5
{
  background : #008AED;
  background : rgba(0, 138, 237, 1);
}
.color6
{
  background : #1B1D21;
  background : rgba(27, 29, 33, 1);
}
.color7
{
  background : #EF7180;
  background : rgba(239, 113, 128, 1);
}
.color8
{
  background : #FAD32B;
  background : rgba(250, 211, 43, 1);
}
