<footer class="banner_3">
    <div class="the-border relative">
        <div class="container-fluid">
        <div class="row">
            <div class="heavy-color col-3 col-sm-3"></div>
            <div class="light-color col-9 col-sm-9"></div>
        </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row no_margin">
        <div class="col-12"><a href = "{% url 'mysite:landing' %}">
            <h4 class="heading-style-3 footer-brand" >Badminton <span>logo</span></h4></a>
            <ul class="list-inline mb-0 social-media">
            <li class="list-inline-item"><a class="youtube" href="#"><i class="fa fa-youtube-play hvr-grow" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook-square hvr-grow" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin hvr-grow" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="google-plus" href="#"><i class="fa fa-google-plus hvr-grow" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="col-12">
            <p class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
        </div>
        <div class="col-12">
            <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 news-letter">
                <h3 class="heading-style-4">خبرنامه</h3>
                <form class="form-inline">
                <div class="form-group mb-2">
                    <input class="form-control" placeholder="ایملیل شما">
                </div>
                <button type="submit" class="btn_1">اشتراک</button>
                </form>
            </div>
            <div class="col-lg-1 d-none d-lg-block"></div>
            <div class="d-none d-md-block col-md-6 col-lg-6 last-match-carousel">
                <h3 class="heading-style-4">خبرنامه</h3>
                <div id="owl-five" class="owl-carousel owl-theme">
                <div class="item">
                    <p>ایران <span>VS</span> چین</p>
                    <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>بیشتر بخوانید</a>
                </div>
                <div class="item">
                    <p>ایران <span>VS</span> چین</p>
                    <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>بیشتر بخوانید</a>
                </div>
                <div class="item">
                    <p>ایران <span>VS</span> چین</p>
                    <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>بیشتر بخوانید</a>
                </div>
                <div class="item">
                    <p>ایران <span>VS</span> چین</p>
                    <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>بیشتر بخوانید</a>
                </div>
                <div class="item">
                    <p>ایران <span>VS</span> چین</p>
                    <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>بیشتر بخوانید</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="footer-divider"></div>
        <div class="col-12">
            <div class="navbar-footer">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">لینک</a></li>
                <li class="list-inline-item"><a href="#">لینک</a></li>
                <li class="list-inline-item"><a href="#">لینک</a></li>
                <li class="list-inline-item"><a href="#">لینک</a></li>
                <li class="list-inline-item"><a href="#">لینک</a></li>
            </ul>
            </div>
            <p class="copyright">Copyright &copy; Sageteam</p>
        </div>
        </div>
    </div>
</footer>