<div class="header-one font-thin">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-7 col-lg-6">
            <ul class="list-inline">
            <li class="list-inline-item">
                <h3 class="heading-style-3 mr-bt-0"><a class="sa_white_link" href="#">درباره ما</a></h3></li>
            <li class="list-inline-item">
                <h3 class="heading-style-3 mr-bt-0"><a class="sa_white_link" href="#">بازیکن های ثبت شده</a></h3></li>
            </ul>
        </div>
        <div class="col-md-5 col-lg-6">
            <h3 class="heading-style-3 mr-bt-0 text-left">
            <a class="sa_white_link" href="#">حساب کاربری</a>
        </h3>
        </div>
        </div>
    </div>
    </div>
    <div class="header-two">
    <div class="container-fluid">
        <div class="row">
        <div class="d-none d-lg-block d-xl-block col-lg-1"></div>
        <div class="col-md-3 col-lg-3">
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="جستجو کنید ...">
            </form>
        </div>
        <div class="col-md-6 col-lg-5">
            <ul class="list-inline sa_header_contact_texts">
            <li class="list-inline-item">
                <p class="white">تماس با ما</p>
                <a class="sa_white_link" href="#">org.demolink@f</a>
            </li>
            <li class="list-inline-item">
                <p class="white">درخواست عضویت در تیم
                </p>
                <a class="sa_white_link" href="#">org.demolink@f</a>
            </li>
            </ul>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="sa_black_box center-box"></div>
        </div>
        <div class="d-none d-lg-block d-xl-block col-lg-1"></div>
        </div>
    </div>
</div>

