<div class="header-one font-thin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-lg-12">
                <ul class="list-inline">
                    {% if user.is_authenticated %}
                    <li class="list-inline-item">
                        <h3 class="heading-style-3 ml-5 mr-bt-0 "><a class="sa_white_link" href="#"><span
                                    class="fa fa-sign-in"></span> حساب من </a></h3>
                    </li>
                    <li class="list-inline-item">
                        <h3 class="heading-style-3 mr-bt-0"><a class="sa_white_link" href="#"> خروج </a></h3>
                    </li>
                    {% else %}
                    <li class="list-inline-item">
                        <h3 class="heading-style-3 ml-5 mr-bt-0"><a class="sa_white_link" href="#"> ورود</a></h3>
                    </li>
                    <li class="list-inline-item">
                        <h3 class="heading-style-3 mr-bt-0"><a class="sa_white_link" href="#">ثبت نام </a></h3>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<div class="header-two">
    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-lg-block d-xl-block col-lg-1"></div>
            <div class="col-md-3 col-lg-3">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="جستجو کنید ...">
                </form>
            </div>
            <div class="col-md-6 col-lg-5">
                <ul class="list-inline sa_header_contact_texts">
                    <li class="list-inline-item">
                        <p class="white">تماس با ما</p>
                        <a class="sa_white_link" href="{% url 'mysite:contact' %}">org.demolink@f</a>
                    </li>
                    <li class="list-inline-item">
                        <p class="white">درخواست عضویت در تیم
                        </p>
                        <a class="sa_white_link" href="#">org.demolink@f</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="sa_black_box center-box"></div>
            </div>
            <div class="d-none d-lg-block d-xl-block col-lg-1"></div>
        </div>
    </div>
</div>