{% extends 'shared/master.html' %}
{% load static %}
{% block title %}{% if category %} {{ category.title }} {% else %}  محصولات {% endif %}{% endblock %}
{% block scripts %}
<script src="{% static 'assets/features/owl-carousel/js/owl.carousel.js' %}"></script>
{% endblock %}
{% block body %}
<main>
  <div class="banner_3">
    <h1 class="heading-style-1">
      اخبار
    </h1>
    <div class="location">
      <a href="{% url 'mysite:landing' %}">خانه</a>
      <span>/</span>
      <a class="active" href="#">لیست</a>
    </div>
  </div>

  <div class="shop-list">
    <div class="container">
      <div class="row">
        <div class="right-side col-lg-4 d-none d-lg-block">
          <div class="border-box-3 menu mt-4">
            <div class="header item">
              <h3>دسته بندی ها</h3>
            </div>

            <a href="#" class="item">
              محصولات
            </a>
            <a href="#" class="item">
              محصولات
            </a>
            <a href="#" class="item">
              محصولات
            </a>
            <a href="#" class="item">
              محصولات
            </a>
            <a href="#" class="item">
              محصولات
            </a>
            <a href="#" class="item">
              محصولات
            </a>
          </div>

          <div class="border-box-3 filter-sizes mt-4">
            <div class="header item">
              <h3>دسته بندی ها</h3>
            </div>
            <div class="item checkbox">
              <div class="custom-checkbox">
                <input type="checkbox" id="cb1">
                <label for="cb1"></label>
                <span>بزرگ</span>
              </div>
            </div>
            <div class="item checkbox">
              <div class="custom-checkbox">
                <input type="checkbox" id="cb2">
                <label for="cb2"></label>
                <span>متوسط</span>
              </div>
            </div>
            <div class="item checkbox">
              <div class="custom-checkbox">
                <input type="checkbox" id="cb3">
                <label for="cb3"></label>
                <span>کوچک</span>
              </div>
            </div>
            <div class="item checkbox">
              <div class="custom-checkbox">
                <input type="checkbox" id="cb4">
                <label for="cb4"></label>
                <span>کوچک</span>
              </div>
            </div>
            <div class="item">
              <button type="submit" class="btn_1">فیلتر</button>
            </div>
          </div>

          <div class="border-box-3 range-slider mt-4">
            <div class="header item">
              <h3>فیلتر</h3>
            </div>
            <div class="item range-slide-section relative">
              <div class="row">
                <div class="col-sm-12">
                  <div id="slider-range"></div>
                </div>
              </div>
              <button type="button" class="btn_2">فیلتر</button>
              <div class="slider-labels">
                <p>تومان: </p>
                <div class="caption">
                  <span id="slider-range-value2" class="faNum"></span>
                </div>
                <span class="dash">-</span>
                <div class="caption">
                  <span id="slider-range-value1" class="faNum"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <form>
                    <input type="hidden" name="min-value" value="">
                    <input type="hidden" name="max-value" value="">
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="border-box-3 suggestions mt-4">
            <div class="header item">
              <h3>دسته بندی ها</h3>
            </div>
            <div class="item sample">
              <div class="col-first">
                <a href="#"><img src="{% static 'assets/img/thumb/1.jpg' %}" alt=""></a>
              </div>
              <div class="col-second">
                <p class="title">لورم ایپسوم</p>
                <h5>لورم ایپسوم متن ساختگی</h5>
                <ul class="list-inline">
                  <li class="list-inline-item"><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p class="payment"><span class="faNum">20</span> تومان</p>
              </div>
            </div>
            <div class="item sample">
              <div class="col-first">
                <a href="#"><img src="{% static 'assets/img/thumb/1.jpg'%}" alt=""></a>
              </div>
              <div class="col-second">
                <p class="title">لورم ایپسوم</p>
                <h5>لورم ایپسوم متن ساختگی</h5>
                <ul class="list-inline">
                  <li class="list-inline-item"><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p class="payment"><span class="faNum">20</span> تومان</p>
              </div>
            </div>
            <div class="item sample">
              <div class="col-first">
                <a href="#"><img src="{% static 'assets/img/thumb/1.jpg' %}" alt=""></a>
              </div>
              <div class="col-second">
                <p class="title">لورم ایپسوم</p>
                <h5>لورم ایپسوم متن ساختگی</h5>
                <ul class="list-inline">
                  <li class="list-inline-item"><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p class="payment"><span class="faNum">20</span> تومان</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 d-block d-lg-none mt-4">
          <div class="border-box-3">
            <div id="accordion">
              <div class="card">
                <div class="card-header border-box-3" id="heading_1">
                  <h3 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      فهرست
                    </button>
                  </h3>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="heading_1" data-parent="#accordion">
                  <div class="card-body menu py-0 px-0">
                    <a href="#" class="item">
                      محصولات
                    </a> <a href="#" class="item">
                      محصولات
                    </a> <a href="#" class="item">
                      محصولات
                    </a> <a href="#" class="item">
                      محصولات
                    </a> <a href="#" class="item">
                      محصولات
                    </a> <a href="#" class="item">
                      محصولات
                    </a> <a href="#" class="item">
                      محصولات
                    </a><a href="#" class="item">
                      محصولات
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 d-block d-lg-none mt-4">
          <div class="border-box-3">
            <div id="accordion_2">
              <div class="card">
                <div class="card-header border-box-3" id="heading_2">
                  <h5 class="mb-0">
                    <button class="btn btn-link width-full" data-toggle="collapse" data-target="#collapse_2"
                      aria-expanded="true" aria-controls="collapse_2">
                      فهرست
                    </button>
                  </h5>
                </div>
                <div id="collapse_2" class="collapse" aria-labelledby="heading_2" data-parent="#accordion_2">
                  <div class="card-body filter-sizes py-0 px-0">
                    <div class="item checkbox">
                      <div class="custom-checkbox">
                        <input type="checkbox" id="cb5">
                        <label for="cb5"></label>
                        <span>بزرگ</span>
                      </div>
                    </div>
                    <div class="item checkbox">
                      <div class="custom-checkbox">
                        <input type="checkbox" id="cb6">
                        <label for="cb6"></label>
                        <span>متوسط</span>
                      </div>
                    </div>
                    <div class="item checkbox">
                      <div class="custom-checkbox">
                        <input type="checkbox" id="cb7">
                        <label for="cb7"></label>
                        <span>کوچک</span>
                      </div>
                    </div>
                    <div class="item checkbox">
                      <div class="custom-checkbox">
                        <input type="checkbox" id="cb8">
                        <label for="cb8"></label>
                        <span>کوچک</span>
                      </div>
                    </div>
                    <div class="item">
                      <button type="submit" class="btn_1">دسته بندی</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2 d-block d-lg-none"></div>
        <div class="col-md-8 d-block d-lg-none">
          <div class="border-box-3 range-slider mt-4">
            <div class="header item">
              <h3>فیلتر </h3>
            </div>
            <div class="item range-slide-section relative">
              <div class="row">
                <div class="col-sm-12">
                  <div id="slider-range-2"></div>
                </div>
              </div>
              <button type="button" class="btn_2">فیلتر</button>
              <div class="slider-labels">
                <p>تومان: </p>
                <div class="caption">
                  <span id="slider-range-value2-2" class="faNum"></span>
                </div>
                <span class="dash">-</span>
                <div class="caption">
                  <span id="slider-range-value1-2" class="faNum"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <form>
                    <input type="hidden" name="min-value-2" value="">
                    <input type="hidden" name="max-value-2" value="">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 d-block d-lg-none"></div>

        <div class="right-side list col-md-12 col-lg-8">
          <div class="border-box-3 mt-4">
            <div class="header item">
              <h3>دسته بندی ها</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <div class="dropdown">
                    <button class="dropbtn">Dropdown</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="dropdown">
                    <button class="dropbtn">Dropdown</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
              
            <div class="col-12 col-sm-6 col-md-4 mt-4">
              <div class="product">
                <img src="#" alt="">
                <div class="details text-center">
                  <p class="title"></p>
                  <h5></h5>
                  <h6 class="price"><span class="faNum"></span> تومان</h6>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i
                          class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
          
                <div class="pagination">
                    <span class="step-links">
                        {% if page_objs.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_objs.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_objs.number }} of {{ page_objs.paginator.num_pages }}.
                        </span>
                
                        {% if page_objs.has_next %}
                            <a href="?page={{ page_objs.next_page_number }}">next</a>
                            <a href="?page={{ page_objs.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
              </div>
              {% endfor %}

           
           
              
         
              </div>
          </div>
</main>
{% endblock %}