{% extends 'shared/master.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'assets/features/owl-carousel/js/owl.carousel.js' %}"></script>
{% endblock %}
{% block body %}
<main>
    <div class="banner_3">
        <h1 class="heading-style-1">
            اخبار
        </h1>
        <div class="location">
            <a href="#">خانه</a>
            <span>/</span>
            <a href="#">خانه</a>
            <span>/</span>
            <a class="active" href="#">لیست</a>
        </div>
    </div>

    <div class="boss-tree">
        <div class="container">
            <div class="row require-1">
                <div class="col-12">
                    <div class="subject">
                        <h1 class="heading-style-3">
                            اعضای هیئت رئیسه بدمینتون استان مازندران
                        </h1>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-0 level-1 justify-content-center">
                        <div class="col-lg-2 first">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle right">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle-middle">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle left">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 last">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="chair">
                        <a href="#" class="profile boss">
                            <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                            <div class="text-box">
                                <p class="job">رئیس هیئت بدمینتون استان مازندران</p>
                                <p class="name">مهدی امیرفخریان</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-0 level-2 justify-content-center">
                        <div class="col-lg-2 middle right">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle-middle">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle left">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-0 level-2 justify-content-center">
                        <div class="col-lg-2 first">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle right">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle-middle">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle left">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 last">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-0 level-2 justify-content-center">
                        <div class="col-lg-2 first">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle right">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle-middle">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle left">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 last">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-0 level-2 justify-content-center">
                        <div class="col-lg-2 first">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle right">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle-middle">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 middle left">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 last">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row require-2">
                <div class="col-12">
                    <div class="subject">
                        <h1 class="heading-style-3">
                            اعضای هیئت رئیسه بدمینتون استان مازندران
                        </h1>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-0 level-1 justify-content-center">
                        <div class="col-md-2 col-lg-2 first">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-lg-2 middle right">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-lg-2 middle-middle">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-lg-2 middle left">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-lg-2 last">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="chair">
                        <a href="#" class="profile boss">
                            <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                            <div class="text-box">
                                <p class="job">رئیس هیئت بدمینتون استان مازندران</p>
                                <p class="name">مهدی امیرفخریان</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-0 level-2 justify-content-center">
                        <div class="col-md-3 col-lg-3 middle right">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-lg-3 middle-middle">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-lg-3 middle left">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-0 level-2 justify-content-center">
                        <div class="col-md-3 col-lg-3 middle right">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-lg-3 middle-middle">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-lg-3 middle left">
                            <a href="#" class="profile">
                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                <div class="text-box">
                                    <p class="job">نائب رئیس بانوان
                                    </p>
                                    <p class="name">رحیم رستمی فر</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="require-3">
                <div id="owl-nine" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="row my-5">
                            <div class="col-6 z-3">
                                <div class="row column-5">
                                    <div class="col-12">
                                        <div class="col-md-2 col-lg-2 middle first">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 col-md-2 col-lg-2 middle right">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 col-md-2 col-lg-2 middle-middle">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 col-md-2 col-lg-2 middle left">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 col-md-2 col-lg-2 middle last">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="holder_2">
                                    <div class="holder_1">
                                        <div class="subject">
                                            <h1 class="heading-style-3">
                                                اعضای هیئت رئیسه بدمینتون استان مازندران
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row my-5">
                            <div class="col-6 z-3">
                                <div class="row column-5">
                                    <div class="col-12">
                                        <div class="col-md-2 col-lg-2 middle first">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 col-md-2 col-lg-2 middle right">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 col-md-2 col-lg-2 middle-middle">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 col-md-2 col-lg-2 middle left">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 col-md-2 col-lg-2 middle last">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="holder_2">
                                    <div class="holder_1">
                                        <div class="chair">
                                            <a href="#" class="profile boss">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="job">رئیس هیئت بدمینتون استان مازندران</p>
                                                    <p class="name">مهدی امیرفخریان</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row my-5">
                            <div class="col-6 z-3">
                                <div class="row column-3">
                                    <div class="col-12 empty">
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 col-md-2 col-lg-2 middle right">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 col-md-2 col-lg-2 middle-middle">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 col-md-2 col-lg-2 middle left">
                                            <a href="#" class="profile">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="name">رحیم رستمی فر</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 empty">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="holder_2">
                                    <div class="holder_1">
                                        <div class="chair">
                                            <a href="#" class="profile boss">
                                                <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                                <div class="text-box">
                                                    <p class="job">رئیس هیئت بدمینتون استان مازندران</p>
                                                    <p class="name">مهدی امیرفخریان</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="require-4">
                <div id="owl-ten" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="row set first number-members">
                            <div class="col-12">
                                <div class="subject">
                                    <h1 class="heading-style-3">
                                        اعضای هیئت رئیسه بدمینتون استان مازندران
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="row set subs">
                            <div class="col-6 middle double">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 middle double">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row set subs">
                            <div class="col-6 middle double">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 middle double">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row set">
                            <div class="col-12 middle unique">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row set first">
                            <div class="col-12">
                                <div class="chair">
                                    <a href="#" class="profile boss">
                                        <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                        <div class="text-box">
                                            <p class="job">رئیس هیئت بدمینتون استان مازندران</p>
                                            <p class="name">مهدی امیرفخریان</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row set subs">
                            <div class="col-6 middle double">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 middle double">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row set subs">
                            <div class="col-6 middle double">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 middle double">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row set">
                            <div class="col-12 middle unique">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row set first members-3">
                            <div class="col-12">
                                <div class="chair">
                                    <a href="#" class="profile boss">
                                        <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                        <div class="text-box">
                                            <p class="job">رئیس هیئت بدمینتون استان مازندران</p>
                                            <p class="name">مهدی امیرفخریان</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row set subs">
                            <div class="col-6 middle double">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 middle double">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row set">
                            <div class="col-12 middle unique">
                                <a href="#" class="profile">
                                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                                    <div class="text-box">
                                        <p class="name">رحیم رستمی فر</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}