{% extends 'shared/master.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'assets/features/owl-carousel/js/owl.carousel.js' %}"></script>
{% endblock %}
{% block body %}
<main>
    <div class="banner_3">
        <h1 class="heading-style-1">
        اخبار
        </h1>
        <div class="location">
        <a href="#">خانه</a>
        <span>/</span>
        <a class="active" href="#">لیگ</a>
        </div>
    </div>

    <div class="league">
        <div class="container">
        <div class="row">
            <div class="col-lg-8">
            <div class="width-full">
                <div class="border-box-3 mt-4">
                <div class="header relative item">
                    <h3>دسته بندی ها</h3>
                    <ul class="list-inline">
                    <li class="list-inline-item">
                        <div class="dropdown">
                        <button class="dropbtn">لیگ برتر</button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="dropdown">
                        <button class="dropbtn faNum">1396_1397</button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                        </div>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="main-league-table">
                <div class="header">
                <div class="row mx-0">
                    <div class="col-1">
                    <h3>ردیف</h3>
                    </div>
                    <div class="col-2">
                    <h3 class="transparent">ردیف</h3>
                    </div>
                    <div class="col-3 stage-1">
                    <h3>نام بازیکن</h3>
                    </div>
                    <div class="col-2 stage-1 seperate">
                    <h3>شهر</h3>
                    </div>
                    <div class="col-2 stage-1 seperate">
                    <h3>تیم</h3>
                    </div>
                    <div class="col-2 stage-1 seperate">
                    <h3>امتیاز</h3>
                    </div>
                </div>
                </div>
                <div class="item">
                <div class="row mx-0">
                    <div class="col-1 stage-1 number">
                    <h5 class="faNum">1</h5>
                    </div>
                    <div class="col-1 stage-2 number">
                    <h5 class="faNum">1</h5>
                    </div>
                    <div class="col-2 image stage-1">
                    <a href="#"><img src="{% static 'assets/img/thumb/profile.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-3 name stage-1">
                    <h5><a href="#">سپهر اکبرزاده</a></h5>
                    </div>
                    <div class="col-2 city stage-1">
                    <h5>نوشهر</h5>
                    </div>
                    <div class="col-2 team stage-1">
                    <h5>شموشک</h5>
                    </div>
                    <div class="col-2 score stage-1">
                    <h5 class="faNum">95</h5>
                    </div>
                    <div class="col-5 py-3 stage-2">
                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                    </div>
                    <div class="col-5 py-3 stage-2">
                    <h5><span>نام :</span><a href="#">سپهر اکبرزاده</a></h5>
                    <h5><span>شهر :</span>نوشهر</h5>
                    <h5><span>تیم :</span>شموشک</h5>
                    <h5 class="faNum"><span>امتیاز :</span>95</h5>
                    </div>
                </div>
                </div>
                <div class="item">
                <div class="row mx-0">
                    <div class="col-1 stage-1 number">
                    <h5 class="faNum">1</h5>
                    </div>
                    <div class="col-1 stage-2 number">
                    <h5 class="faNum">1</h5>
                    </div>
                    <div class="col-2 image stage-1">
                    <a href="#"><img src="{% static 'assets/img/thumb/profile.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-3 name stage-1">
                    <h5><a href="#">سپهر اکبرزاده</a></h5>
                    </div>
                    <div class="col-2 city stage-1">
                    <h5>نوشهر</h5>
                    </div>
                    <div class="col-2 team stage-1">
                    <h5>شموشک</h5>
                    </div>
                    <div class="col-2 score stage-1">
                    <h5 class="faNum">95</h5>
                    </div>
                    <div class="col-5 py-3 stage-2">
                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                    </div>
                    <div class="col-5 py-3 stage-2">
                    <h5><span>نام :</span><a href="#">سپهر اکبرزاده</a></h5>
                    <h5><span>شهر :</span>نوشهر</h5>
                    <h5><span>تیم :</span>شموشک</h5>
                    <h5 class="faNum"><span>امتیاز :</span>95</h5>
                    </div>
                </div>
                </div>
                <div class="item">
                <div class="row mx-0">
                    <div class="col-1 stage-1 number">
                    <h5 class="faNum">1</h5>
                    </div>
                    <div class="col-1 stage-2 number">
                    <h5 class="faNum">1</h5>
                    </div>
                    <div class="col-2 image stage-1">
                    <a href="#"><img src="{% static 'assets/img/thumb/profile.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-3 name stage-1">
                    <h5><a href="#">سپهر اکبرزاده</a></h5>
                    </div>
                    <div class="col-2 city stage-1">
                    <h5>نوشهر</h5>
                    </div>
                    <div class="col-2 team stage-1">
                    <h5>شموشک</h5>
                    </div>
                    <div class="col-2 score stage-1">
                    <h5 class="faNum">95</h5>
                    </div>
                    <div class="col-5 py-3 stage-2">
                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                    </div>
                    <div class="col-5 py-3 stage-2">
                    <h5><span>نام :</span><a href="#">سپهر اکبرزاده</a></h5>
                    <h5><span>شهر :</span>نوشهر</h5>
                    <h5><span>تیم :</span>شموشک</h5>
                    <h5 class="faNum"><span>امتیاز :</span>95</h5>
                    </div>
                </div>
                </div>
                <div class="item">
                <div class="row mx-0">
                    <div class="col-1 stage-1 number">
                    <h5 class="faNum">1</h5>
                    </div>
                    <div class="col-1 stage-2 number">
                    <h5 class="faNum">1</h5>
                    </div>
                    <div class="col-2 image stage-1">
                    <a href="#"><img src="{% static 'assets/img/thumb/profile.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-3 name stage-1">
                    <h5><a href="#">سپهر اکبرزاده</a></h5>
                    </div>
                    <div class="col-2 city stage-1">
                    <h5>نوشهر</h5>
                    </div>
                    <div class="col-2 team stage-1">
                    <h5>شموشک</h5>
                    </div>
                    <div class="col-2 score stage-1">
                    <h5 class="faNum">95</h5>
                    </div>
                    <div class="col-5 py-3 stage-2">
                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                    </div>
                    <div class="col-5 py-3 stage-2">
                    <h5><span>نام :</span><a href="#">سپهر اکبرزاده</a></h5>
                    <h5><span>شهر :</span>نوشهر</h5>
                    <h5><span>تیم :</span>شموشک</h5>
                    <h5 class="faNum"><span>امتیاز :</span>95</h5>
                    </div>
                </div>
                </div>
                <div class="item">
                <div class="row mx-0">
                    <div class="col-1 stage-1 number">
                    <h5 class="faNum">1</h5>
                    </div>
                    <div class="col-1 stage-2 number">
                    <h5 class="faNum">1</h5>
                    </div>
                    <div class="col-2 image stage-1">
                    <a href="#"><img src="{% static 'assets/img/thumb/profile.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-3 name stage-1">
                    <h5><a href="#">سپهر اکبرزاده</a></h5>
                    </div>
                    <div class="col-2 city stage-1">
                    <h5>نوشهر</h5>
                    </div>
                    <div class="col-2 team stage-1">
                    <h5>شموشک</h5>
                    </div>
                    <div class="col-2 score stage-1">
                    <h5 class="faNum">95</h5>
                    </div>
                    <div class="col-5 py-3 stage-2">
                    <img src="{% static 'assets/img/thumb/profile.jpg' %}" alt="">
                    </div>
                    <div class="col-5 py-3 stage-2">
                    <h5><span>نام :</span><a href="#">سپهر اکبرزاده</a></h5>
                    <h5><span>شهر :</span>نوشهر</h5>
                    <h5><span>تیم :</span>شموشک</h5>
                    <h5 class="faNum"><span>امتیاز :</span>95</h5>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-12 text-center p-3">
                <ul class="pagination center">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li><i class="fa fa-ellipsis-h mt-2" aria-hidden="true"></i></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item"><a class="page-link" href="#">11</a></li>
                <li class="page-item"><a class="page-link" href="#">12</a></li>
                </ul>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="col-12 mt-4 mb-4 d-none d-lg-block">
                <div class="header-section smoth">
                <div class="row">
                    <div class="col-6 col-sm-4">
                    <h3 class="heading-style-3">خبرنامه</h3>
                    </div>
                    <div class="col-6 col-sm-8"></div>
                </div>
                </div>
            </div>

            <div class="border-box-2 latest-matches-1 mt-4">
                <div class="row mt-4">
                <div class="col-12">
                    <div class="row mx-0">
                    <div class="col-4 text-center">
                        <img class="width-full" src="assets/img/thumb/team_1.png" alt="">
                        <h3 class="heading-style-6 text-center">واشنگتن</h3>
                        <span class="text_bold">آمریکا</span>
                    </div>
                    <div class="col-4 scores text-center relative top-relative-15">
                        <span class="text_bold winner score">105</span>
                        <span class="text_bold middeler">:</span>
                        <span class="text_bold loser score">99</span>
                        <div class="news-detail-1 text-center">
                        <span>home</span>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <img class="width-full" src="assets/img/thumb/team_2.png" alt="">
                        <h3 class="heading-style-6 text-center">واشنگتن</h3>
                        <span class="text_bold">آمریکا</span>
                    </div>
                    </div>
                </div>
                <div class="col-12 px-4">
                    <div class="news-detail-1 text-center">
                    <hr>
                    <span>new yorks studiom / 14 june 2018</span>
                    </div>
                </div>
                </div>
            </div>
            <div class="border-box-2 latest-matches-1 mt-4">
                <div class="row mt-4">
                <div class="col-12">
                    <div class="row mx-0">
                    <div class="col-4 text-center">
                        <img class="width-full" src="assets/img/thumb/team_1.png" alt="">
                        <h3 class="heading-style-6 text-center">واشنگتن</h3>
                        <span class="text_bold">آمریکا</span>
                    </div>
                    <div class="col-4 scores text-center relative top-relative-15">
                        <span class="text_bold winner score">105</span>
                        <span class="text_bold middeler">:</span>
                        <span class="text_bold loser score">99</span>
                        <div class="news-detail-1 text-center">
                        <span>home</span>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <img class="width-full" src="assets/img/thumb/team_2.png" alt="">
                        <h3 class="heading-style-6 text-center">واشنگتن</h3>
                        <span class="text_bold">آمریکا</span>
                    </div>
                    </div>
                </div>
                <div class="col-12 px-4">
                    <div class="news-detail-1 text-center">
                    <hr>
                    <span>new yorks studiom / 14 june 2018</span>
                    </div>
                </div>
                </div>
            </div>
            <div class="border-box-2 latest-matches-1 mt-4">
                <div class="row mt-4">
                <div class="col-12">
                    <div class="row mx-0">
                    <div class="col-4 text-center">
                        <img class="width-full" src="assets/img/thumb/team_1.png" alt="">
                        <h3 class="heading-style-6 text-center">واشنگتن</h3>
                        <span class="text_bold">آمریکا</span>
                    </div>
                    <div class="col-4 scores text-center relative top-relative-15">
                        <span class="text_bold winner score">105</span>
                        <span class="text_bold middeler">:</span>
                        <span class="text_bold loser score">99</span>
                        <div class="news-detail-1 text-center">
                        <span>home</span>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <img class="width-full" src="assets/img/thumb/team_2.png" alt="">
                        <h3 class="heading-style-6 text-center">واشنگتن</h3>
                        <span class="text_bold">آمریکا</span>
                    </div>
                    </div>
                </div>
                <div class="col-12 px-4">
                    <div class="news-detail-1 text-center">
                    <hr>
                    <span>new yorks studiom / 14 june 2018</span>
                    </div>
                </div>
                </div>
            </div>

            <div class="next-match border-box-2 overflow_hidden mt-4 d-none d-lg-block">
                <div class="header-section">
                <div class="row">
                    <div class="col-6">
                    <h3 class="heading-style-3 text-center">بازی بعدی</h3>
                    </div>
                    <div class="col-6"></div>
                </div>
                </div>
                <div class="row mx-0 relative">
                <h4 class="heading-style-3">لورم ایپسوم متن ساختگی با تولید سادگی</h4>
                <p class="date-match">15:00 ، 1397 ، تیر 10 ، جمع</p>
                <div class="row mx-0 width-full">
                    <div class="col-5"><img class="img-fluid team" src="assets/img/thumb/team_2.png" alt=""></div>
                    <div class="col-2">
                    <p class="versous">VS</p>
                    </div>
                    <div class="col-5"><img class="img-fluid team" src="assets/img/thumb/team_1.png" alt=""></div>
                </div>
                <div class="col-12 text-center">
                    <a class="btn_1" href="#">خرید بلیط</a>
                </div>
                <p class="start-at">شروع در</p>
                <div class="time-left col-12">
                    <div class="time">
                    <p class="faNum countDown_1" id="firstClock"></p>
                    </div>
                    <div class="time-letters">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span>دقیقه</span></li>
                        <li class="list-inline-item"><span>دقیقه</span></li>
                        <li class="list-inline-item"><span>دقیقه</span></li>
                        <li class="list-inline-item"><span>دقیقه</span></li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</main>
{% endblock %}